.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
.step-card {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}


}