Options -Indexes

<IfModule mod_headers.c>
    Header set Content-Security-Policy "default-src 'self' mailto: https://res.cloudinary.com; media-src 'self' mailto: https://res.cloudinary.com; script-src 'self' mailto: 'unsafe-inline' 'unsafe-eval' https://static.cloudflareinsights.com https://urbandrop.io; style-src 'self' mailto: 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' mailto: https://fonts.gstatic.com; img-src 'self' mailto: data: https://res.cloudinary.com https://grainy-gradients.vercel.app; connect-src 'self' mailto: https://urbandrop-staging.kantatech.io https://urbanchat.kantatech.io https://static.cloudflareinsights.com;"
    Header set X-Content-Type-Options "nosniff"
    Header set X-Frame-Options "SAMEORIGIN"
    Header set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    Header set Access-Control-Allow-Origin "https://urbandrop.io"
    Header always unset Server
    Header always unset X-Powered-By
    Header always unset X-Turbo-Charged-By

</IfModule>

# URL rewriting rules for Vue Router
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /    # Adjust if your app is in a subdirectory

  # Prevent rewriting files or directories
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Rewrite all other requests to index.html
  RewriteRule ^ index.html [L]
</IfModule>
